<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Product - Index</title>
</head>
<body>
<div class="row" layout:fragment="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h3 class="mr-auto p-3">Product</h3>
                    <div class="ms-auto" role="group">
                        <a th:href="@{~/product/add}" class="btn btn-primary">Add Product</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                    <tr >
                        <th>Id</th>
                        <th>Category</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${products}">
                        <th th:text="${item.id}"></th>
                        <th th:text="${item.categoryName}"></th>
                        <td th:text="${item.name}"></td>
                        <td th:text="${item.description}"></td>
                        <td th:text="${item.price}"></td>
                        <td th:text="${item.quantity}"></td>
                        <td>
                            <a th:href="@{~/product/delete/{id}(id = ${item.id})}"
                               class="btn btn-xs btn-danger float-end">
                                Delete
                            </a>
                            <a th:href="@{~/product/edit/{id}(id = ${item.id})}" style="margin-right: 5px"
                               class="btn btn-primary float-end">
                                Edit
                            </a>
                            <a th:href="@{~/product/{id}(id = ${item.id})}"
                               class="btn btn-success float-end" style="margin-right: 5px">
                                Detail
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>