<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Category - Edit</title>
</head>
<body>
<div class="row" layout:fragment="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Category</h3>
            </div>
            <div class="card-body">
                <form th:action="@{~/category/save}" method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name :</label>
                        <input type="text" class="form-control" id="name" name="name" th:value="${category.name}" aria-describedby="nameHelp" placeholder="name">
                        <div id="nameHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description :</label>
                        <input type="text" class="form-control" id="description" name="description" th:value="${category.description}" aria-describedby="descriptionHelp" placeholder="description">
                        <div id="descriptionHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-primary" style="margin-right: 5px">Save Changes</button>
                        <a th:href="@{~/category}" class="btn btn-secondary">Close</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>