 <form th:action="@{~/category/remove}" method="post">
     <div class="modal-content">
         <div class="modal-header">
             <h5 class="modal-title">Detail category</h5>
             <button type="button" class="btn-close"></button>
         </div>
         <div class="modal-body">
             <input type="hidden" name="id" th:value="${data.id}">

             <div class="mb-3">
                 <label for="name" class="form-label">Name :</label>
                 <input type="text" class="form-control" id="name" name="name" th:value="${data.name}" aria-describedby="nameHelp" placeholder="name">
                 <div id="nameHelp" class="form-text">We'll never share your email with anyone else.</div>
             </div>

             <div class="mb-3">
                 <label for="description" class="form-label">Description :</label>
                 <input type="text" class="form-control" id="description" name="description" th:value="${data.description}" aria-describedby="descriptionHelp" placeholder="description">
                 <div id="descriptionHelp" class="form-text">We'll never share your email with anyone else.</div>
             </div>
         </div>
         <div class="modal-footer">
             <button type="button" class="btn btn-secondary">Close</button>
             <button type="submit" class="btn btn-danger">Delete</button>
         </div>
     </div>
 </form>